@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.card span {
    color: black;
}

.favoriteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  color: gray;
  font-size: 14px;

  &.active {
    color: gold;
  }
}